body{
    font-family: 'Roboto', sans-serif;
}

.toDoMainDiv{
    width: 450px;
    height: 700px;
    background-color: antiquewhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;

}

.HeadingDiv{
    text-align: center;
    font-size: 20px;
}

.HeadingDiv h1{
    margin-bottom: 0;
}

.HeadingDiv hr{
    width: 40%;
    padding: 0;
    height: 1px;
    background-color: darkgrey;
    border-radius: 20px;
}

.AddNewItem{
    padding: 20px 30px;
}

.previousList{
    padding: 10px 30px;
}

.listHeading{
    font-weight: 300;
    margin-bottom: 0;
}

.listHr{
    width: 35%;
    padding-top: 0;
    margin-top: 5px;
}

.AddNewItem .addButton{
    font-size: 20px;
    border-radius: 10px;
    padding: 4px 10px;
    border: 2px solid #1a7795;
    background-color: inherit;
    cursor: pointer;
    transition: all 0.4s ease;
    float: right;
}

.AddNewItem .addButton:hover{
    background-color: #31c5f4;
    color: white;
}

.AddNewItem .inputButtonDiv{
    position: relative;
}

.AddNewItem .inputText{
    border: 1px solid gray;
    height: 30px;
    float: left;
    width: 80%;
    border-radius: 10px;
    font-size: 20px;
}

.clearFix{
    clear: both;
}

.listItems{
    height: 350px;
    overflow-y: scroll;
    
}

.dateDiv{
    border: 1px solid darkgrey;
    background-color: darkgrey;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

.removeButton{
    float: right;
    margin-right: 10px;
    font-size: 12px;
    border-radius: 10px;
    padding: 4px 10px;
    border: 2px solid #790000;
    background-color: inherit;
    cursor: pointer;
    transition: all 0.4s ease;
    font-weight: 600;
}
.removeButton:hover{
    background-color: #ed2324;
    color: white;
}

.designedDiv{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}
.totalnotes{
    padding: 0;
    margin: 0;
    text-align: center;
}